* {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
    color: #181818;
    margin:0;
}

header {
    margin-top: 40px;
    width: 100%;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

img {
    border-radius: 24px;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
    text-decoration: none;
}

hr {
    width: 100px;
}

button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    height: 56px;
    align-items: center;
    border: 2px solid #181818;
    border-radius: 8px;
}

.header__icon {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    text-transform: uppercase;

    border: 2px solid #181818;
    border-radius: 8px;

    position: absolute;

    display: inline-block;
    padding: 4px 8px;
    margin-left: 140px;
}

.header__nav {
    width: 700px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.nav__list {
    padding: 0;
    display: flex;
}

.nav__item {
    margin: 0px 16px;
    display: inline;
}

.nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}

.introduction {
    margin: 0 auto;
    padding: 120px 0 60px;
}

.introduction__title {
    text-align: center;
    letter-spacing: -0.02em;
    color: #181818;

    margin: 0 160px;
}

.introduction__content {
    text-align: center;
    color: #181818;

    margin-top: 40px;
}

.introduction__buttons {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.buttons-introduction__button {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 8px;


}

#button__telegram {
    background: #181818;
    color: #FFFFFF;
}

#button__video {
    background:#F5F5F5;
    color: #181818;

}

.works {
    background-color: #181818;
    color: #FFFFFF;

    padding-top: 40px;
    padding-bottom: 60px;
}

.works__nav {
    background-color: #181818;
    width: 700px;
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
}

.nav-works__list {
    background-color: #181818;
    padding: 0;
    display: flex;
}

.nav-works__item {
    background-color: #181818;
    margin: 0px 16px;
    display: inline;

    padding: 4px 16px;
    gap: 0px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
}

.nav-works__item--current {
    background-color: #FFFFFF;
}

.nav-works__item--current a{
    background-color: #FFFFFF;
    color: #181818;
}

.nav-works__link {
    background-color: #181818;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.works__gallery {
    background-color: #181818;

    display: block;
    width: 1197px;
    margin: 0 auto;
}

.gallery__block {
    width: 1197px;
    display: block;
    background-color: #181818;
    
    margin-bottom: 40px;
}

.gallery__photo--big {
    width: 100%;
    object-fit: cover;
}

.gallery__photo--small1 {
    width: 580px;
    object-fit: cover;

    display: inline-block;
    margin-right: 32px;
}

.gallery__photo--small2 {
    width: 580px;
    object-fit: cover;

    display: inline-block;
}

.about {
    width: 940px;
    height: 560px;
    margin: 0 auto;
    padding: 60px 0;
}

.about__image {
    width: 400px;
    height:560px;
    object-fit: cover;

    display: float;
    float: left;
    
}

.about__info {
    width: 500px;
    padding-left: 40px;
    display: float;
    float: right;
}

.info-about__title {
    letter-spacing: -0.02em;
    color: #181818;

    display: block;
    margin-top: 80px;
}

.info-about__content {
    color: #181818;

    display: block;
    margin-top: 24px;
}

.about__badges {
    display: block;
    margin-top: 60px;
}

.about__badge {
    width: 70px;
    display: inline-block;
    margin-right: 64px;

}

.badge__number {
    width: 70px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;
    display: block;
}

.badge__describtion {
    width: 70px;
    display: block;
}

.services {
    background-color:  #181818;
    padding: 60px 0 120px;
}

.services__title {
    text-align: center;
    background-color:  #181818;
    color: #FFFFFF;

    margin: 60px 0 80px;
}

.services__blocks {
    background-color:   #181818;
    width: 1197px;
    margin: 0 auto;
}

.services__block {
    background-color:#FFFFFF;
    width: 280px;
    margin: 0 16px;
    padding: 40px;
    display: inline-block;

    border: 2px solid #FFFFFF;
    border-radius: 16px;
}

.block-services__number {
    font-size: 12px;
    color: #181818;

    background-color:#FFFFFF;

    width: 280px;
}

.block-services__title {
    color: #181818;

    background-color:#FFFFFF;

    width: 280px;
    margin-top: 8px;
}

.block-services__content {
    color: #181818;

    background-color:#FFFFFF;

    width: 280px;
    margin-top: 16px;
    margin-bottom: 56px;
}

.block-services__cost {
    color: #181818;

    background-color:#FFFFFF;

    width: 320px;
    margin-top: 56px;
}

.cost {
    padding: 120px 0;
}

.cost__title {
    text-align: center;
    margin-bottom: 80px;
}

.cost__options {
    width: 400px;
    padding: 40px 24px;
    margin: 0 auto -8px;

    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.options-cost__select {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    
    border-radius: 8px;
    border-color: #808080;

    width: 100%;
    display: block;
    padding: 16px;
    margin-bottom: 24px;
}


.options-cost__checkbox input {
    border-radius: 4px;
    display: inline;
}
.options-cost__checkbox p {
    display: inline;
    margin-left: 16px;
}

.options-cost__button {
    width: 100%;
    margin-top: 40px;
}

.cost__result {
    width: 352px;
    padding: 40px 24px;
    margin: 0 auto;

    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.result-cost__badge {
    margin-top: 24px;
}

.result-cost__button {
    background-color: #181818;
    color:#FFFFFF;

    width: 100%;
    margin-top: 40px;
}

.faq {
    display:block;
    background-color:#181818;
    padding: 120px 0;
}

.faq__title {
    text-align: center;
    background-color:  #181818;
    color: #FFFFFF;


    margin-bottom: 80px;
}

.faq__block {
    background-color:#FFFFFF;
    width: 1080px;
    padding: 32px 40px 32px 40px;
    margin: 0 auto 16px;

    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.block-faq__title {
    background-color:#FFFFFF;
}


.block-faq__content {
    background-color:#FFFFFF;
    margin-top: 24px;
}

.block-faq__list {
    background-color:#FFFFFF;
}

.block-faq__list li {
    background-color:#FFFFFF;
}

.block-faq__list li p {
    background-color:#FFFFFF;
}

.application {
    display:block;
    padding: 120px 0;
}

.application__title {
    text-align: center;
    margin-bottom: 8px;
}

.application__description {
    text-align: center;
    margin-bottom: 80px;
}

.application__block {
    width: 400px;
    padding: 40px 24px;
    margin: 0 auto;

    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.block-application__field {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
    color: #808080;
    
    border: 1px solid #808080;
    border-radius: 8px;
    border-color: #808080;

    width: 365px;
    display: block;
    padding: 12px 16px;
    margin-bottom: 24px;

    resize: none;

}

.block-application__select {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
    color: #808080;
    
    border-radius: 8px;
    border-color: #808080;

    width: 400px;
    display: block;
    padding: 16px;
    margin-bottom: 24px;

}

.block-application__button {
    background-color: #181818;
    color:#FFFFFF;

    width: 100%;
    margin-top: 16px;
}

.footer {
    background-color:#181818;
    padding: 40px 0;
}

.footer-buttons {
    background-color:#181818;
    width:177px;
    margin: 0 auto;
}

.footer-button {
    background-color:#FFFFFF;
    width: 40px;
    height: 40px;
    margin: 0 8px;
    padding-top: 6px;
    border-radius: 1000px;
}

.footer-button svg {
    background-color:#FFFFFF;
}